* { font-family: 'Open Sans', sans-serif; }

html, body { margin: 0; padding: 0; }

body { background-color: #8F9AAF; }

h1.title {
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	font-weight: 500;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h2.auth-title {
	font-size: 33px;
    font-weight: 500;
    margin: 10px 0 0 0;
}

span.auth-subtitle {
	display: block;
	margin-bottom: 20px;
}

.content-container {
	-webkit-box-shadow: 0px 0px 42px 12px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 42px 12px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 42px 12px rgba(0,0,0,0.35);
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    height: 306px;
    width: 350px;
    padding: 15px;
}

.content-container > form input {
	border: 1px solid #000;
    border-radius: 3px;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    outline: 0;
    width: 100%;
}

.content-container > form input[type="submit"] {
	background-color: #8F9AAF;
	color: #fff;
}

.content-container > form input[type="submit"]:hover {
	background-color: #A1A4AB;
}

.content-container > form input[type="submit"]:focus {
	background-color: #7A7C82;
}

.content-container > form input[type="text"]:focus {
	box-shadow: 0 0 5px rgba(143, 154, 175, 1);
	border: 1px solid rgba(143, 154, 175, 1);
}

span.signup {
	color: rgba(143, 154, 175, 0.8);
	display: block;
	text-align: center;
}

span.signup > a.signup-bold {
	color: rgba(143, 154, 175, 1);
	font-weight: bold;
	text-decoration: none;
}

footer {
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}